In [16]:
import sqlite3 as sqlite

#Acessando o banco de dados
conn = sqlite.connect('clicksign_test.db')
cursor = conn.cursor()

cursor.execute("""DROP TABLE IF EXISTS relations;""")

cursor.execute("""
    CREATE TABLE relations AS
    
    -- Pegando as informação de peso e altura por jogador e time
    
    WITH
     home_player_1 AS (
         SELECT
             match_api_id,
             home_team_api_id AS team_api_id,             
             player.height,
             player.weight
         FROM match
     INNER JOIN player
       ON player.player_api_id = match.home_player_1),
       
     home_player_2 AS (
         SELECT
             match_api_id,
             home_team_api_id AS team_api_id,             
             player.height,
             player.weight
         FROM match
     INNER JOIN player
       ON player.player_api_id = match.home_player_2),
       
     home_player_3 AS (
         SELECT
             match_api_id,
             home_team_api_id AS team_api_id,             
             player.height,
             player.weight
         FROM match
     INNER JOIN player
       ON player.player_api_id = match.home_player_3),
       
     home_player_4 AS (
         SELECT
             match_api_id,
             home_team_api_id AS team_api_id,             
             player.height,
             player.weight
         FROM match
     INNER JOIN player
       ON player.player_api_id = match.home_player_4),
       
     home_player_5 AS (
         SELECT
             match_api_id,
             home_team_api_id AS team_api_id,             
             player.height,
             player.weight
         FROM match
     INNER JOIN player
       ON player.player_api_id = match.home_player_5),
       
     home_player_6 AS (
         SELECT
             match_api_id,
             home_team_api_id AS team_api_id,             
             player.height,
             player.weight
         FROM match
     INNER JOIN player
       ON player.player_api_id = match.home_player_6),
       
     home_player_7 AS (
         SELECT
             match_api_id,
             home_team_api_id AS team_api_id,             
             player.height,
             player.weight
         FROM match
     INNER JOIN player
       ON player.player_api_id = match.home_player_7),
       
     home_player_8 AS (
         SELECT
             match_api_id,
             home_team_api_id AS team_api_id,             
             player.height,
             player.weight
         FROM match
     INNER JOIN player
       ON player.player_api_id = match.home_player_8),
       
     home_player_9 AS (
         SELECT
             match_api_id,
             home_team_api_id AS team_api_id,             
             player.height,
             player.weight
         FROM match
     INNER JOIN player
       ON player.player_api_id = match.home_player_9),
       
     home_player_10 AS (
         SELECT
             match_api_id,
             home_team_api_id AS team_api_id,             
             player.height,
             player.weight
         FROM match
     INNER JOIN player
       ON player.player_api_id = match.home_player_10),
       
     home_player_11 AS (
         SELECT
             match_api_id,
             home_team_api_id AS team_api_id,             
             player.height,
             player.weight
         FROM match
     INNER JOIN player
       ON player.player_api_id = match.home_player_11),
       
    away_player_1 AS (
         SELECT
             match_api_id,
             away_team_api_id  AS team_api_id,            
             player.height,
             player.weight
         FROM match
     INNER JOIN player
       ON player.player_api_id = match.away_player_1),
       
     away_player_2 AS (
         SELECT
             match_api_id,
             away_team_api_id  AS team_api_id,           
             player.height,
             player.weight
         FROM match
     INNER JOIN player
       ON player.player_api_id = match.away_player_2),
       
     away_player_3 AS (
         SELECT
             match_api_id,
             away_team_api_id  AS team_api_id,           
             player.height,
             player.weight
         FROM match
     INNER JOIN player
       ON player.player_api_id = match.away_player_3),
       
     away_player_4 AS (
         SELECT
             match_api_id,
             away_team_api_id  AS team_api_id,            
             player.height,
             player.weight
         FROM match
     INNER JOIN player
       ON player.player_api_id = match.away_player_4),
       
     away_player_5 AS (
         SELECT
             match_api_id,
             away_team_api_id  AS team_api_id,            
             player.height,
             player.weight
         FROM match
     INNER JOIN player
       ON player.player_api_id = match.away_player_5),
       
     away_player_6 AS (
         SELECT
             match_api_id,
             away_team_api_id  AS team_api_id,            
             player.height,
             player.weight
         FROM match
     INNER JOIN player
       ON player.player_api_id = match.away_player_6),
       
     away_player_7 AS (
         SELECT
             match_api_id,
             away_team_api_id  AS team_api_id,            
             player.height,
             player.weight
         FROM match
     INNER JOIN player
       ON player.player_api_id = match.away_player_7),
       
     away_player_8 AS (
         SELECT
             match_api_id,
             away_team_api_id  AS team_api_id,            
             player.height,
             player.weight
         FROM match
     INNER JOIN player
       ON player.player_api_id = match.away_player_8),
       
     away_player_9 AS (
         SELECT
             match_api_id,
             away_team_api_id  AS team_api_id,            
             player.height,
             player.weight
         FROM match
     INNER JOIN player
       ON player.player_api_id = match.away_player_9),
       
     away_player_10 AS (
         SELECT
             match_api_id,
             away_team_api_id  AS team_api_id,            
             player.height,
             player.weight
         FROM match
     INNER JOIN player
       ON player.player_api_id = match.away_player_10),
       
     away_player_11 AS (
         SELECT
             match_api_id,
             away_team_api_id  AS team_api_id,            
             player.height,
             player.weight
         FROM match
     INNER JOIN player
       ON player.player_api_id = match.away_player_11),
    
    -- Gerando as informação de relação entre as tabelas country, league, team_attributes
    
     match_home_info AS (
         SELECT
             match_api_id,
             home_team_api_id AS team_api_id,
             country.name as country_name,
             league.name as league_name
         FROM match
     INNER JOIN country
       ON country.id = match.country_id
     INNER JOIN league
       ON league.id = match.league_id), 
       
     match_away_info AS (
         SELECT
             match_api_id,
             away_team_api_id AS team_api_id,
             country.name as country_name,
             league.name as league_name
         FROM match
     INNER JOIN country
       ON country.id = match.country_id
     INNER JOIN league
       ON league.id = match.league_id),     
     
     -- Agregando as informações de jogadores por Partida, Jogo de ida e Volta, Por temporanda e etc
     
       player_info as (
        SELECT * FROM home_player_1
        UNION
        SELECT * FROM home_player_2
        UNION
        SELECT * FROM home_player_3
        UNION
        SELECT * FROM home_player_4
        UNION
        SELECT * FROM home_player_5
        UNION
        SELECT * FROM home_player_6
        UNION
        SELECT * FROM home_player_7
        UNION
        SELECT * FROM home_player_8
        UNION
        SELECT * FROM home_player_9
        UNION
        SELECT * FROM home_player_10
        UNION
        SELECT * FROM home_player_11
        UNION
        SELECT * FROM away_player_1
        UNION
        SELECT * FROM away_player_2
        UNION
        SELECT * FROM away_player_3
        UNION
        SELECT * FROM away_player_4
        UNION
        SELECT * FROM away_player_5
        UNION
        SELECT * FROM away_player_6
        UNION
        SELECT * FROM away_player_7
        UNION
        SELECT * FROM away_player_8
        UNION
        SELECT * FROM away_player_9
        UNION
        SELECT * FROM away_player_10
        UNION
        SELECT * FROM away_player_11),
     
     -- Agregando as informações das partidas de ida e volta
     
     match_info AS (
         SELECT * FROM match_home_info
         UNION
         SELECT * FROM match_away_info
         ),
         
     -- Criando os 3 ranges de altura e peso com base  nos 6 valores de maior frequência separado do desempenho
     
     player_ranges AS (
             WITH 
             hight_player_statistic AS (
                SELECT 
                    DISTINCT
                    team_api_id,
                    height,
                    count(height) AS height_frequency
               --     weight
               --     count(weight) AS weight_frequency
                FROM player_info 
                GROUP BY team_api_id, height
            ),
            hight_row_number AS (
            SELECT 
                ROW_NUMBER () 
                    OVER ( PARTITION BY team_api_id
                        ORDER BY height_frequency DESC) row_number,
                * 
            FROM hight_player_statistic
            ORDER BY team_api_id, row_number),
            
            higth_range AS (
                SELECT 
                    team_api_id,
                    ROW_NUMBER () 
                        OVER ( PARTITION BY team_api_id
                            ORDER BY height DESC ) range_number,
                    '('||lag(height, 1) OVER 
                        (PARTITION BY team_api_id ORDER BY height ASC) || '-' || height || ')' AS height_range
                FROM hight_row_number
                WHERE row_number <= 6),
                
            higth_range_filter AS (
                SELECT 
                    team_api_id,
                    height_range
                FROM higth_range
                WHERE range_number IN (1,3,5)
                ORDER BY team_api_id, range_number DESC
            ),
            
            higth_range_agg AS (
                SELECT 
                    team_api_id,
                    group_concat(height_range, ',') OVER (PARTITION BY team_api_id) AS higth_ranges
                FROM higth_range_filter
            ),
            
            weight_player_statistic AS (
                SELECT 
                    DISTINCT
                    team_api_id,
                    weight,
                    count(weight) AS weight_frequency
                FROM player_info 
                GROUP BY team_api_id, weight
            ),
            
            weight_row_number AS (
            SELECT 
                ROW_NUMBER () 
                    OVER ( PARTITION BY team_api_id
                        ORDER BY weight_frequency DESC) row_number,
                * 
            FROM weight_player_statistic
            ORDER BY team_api_id, row_number),
            
            weight_range AS (
                SELECT 
                    team_api_id,
                    ROW_NUMBER () 
                        OVER ( PARTITION BY team_api_id
                            ORDER BY weight DESC ) range_number,
                    '('||lag(weight, 1) OVER 
                        (PARTITION BY team_api_id ORDER BY weight ASC) || '-' || weight || ')' AS weight_range
                FROM weight_row_number
                WHERE row_number <= 6),
                
            weight_range_filter AS (
                SELECT 
                    team_api_id,
                    weight_range
                FROM weight_range
                WHERE range_number IN (1,3,5)
                ORDER BY team_api_id, range_number DESC
            ),
            
            weight_range_agg AS (
                SELECT 
                    team_api_id,
                    group_concat(weight_range, ',') OVER (PARTITION BY team_api_id) AS weight_ranges
                FROM weight_range_filter
            )
                
            SELECT 
                * 
            FROM higth_range_agg
                INNER JOIN weight_range_agg
                    using(team_api_id)
            
        ),
        
      -- Pegando o  último registro de desempennho so time
      
       team_attributes_filter AS (
           SELECT 
               team_api_id,
               max(date) AS date
           FROM team_attributes
           GROUP BY 1
       ),
       
      match_filter as (
      
          SELECT 
              DISTINCT
              team_api_id, 
              country_name,
              league_name
          FROM match_info
      
      ),
      
      final as (
        SELECT 
            team_long_name,
            country_name,
            league_name,
            higth_ranges,
            weight_ranges,
            team_attributes.*
        FROM team_attributes_filter
            INNER JOIN team_attributes
                ON team_attributes.team_api_id = team_attributes_filter.team_api_id
                AND team_attributes.date = team_attributes_filter.date
            INNER JOIN player_ranges
                ON player_ranges.team_api_id = team_attributes_filter.team_api_id
            INNER join team
                USING(team_api_id)
            INNER join match_filter
                USING(team_api_id)
     )
     
SELECT * FROM final

""")

#Finalizando a conexão
conn.commit()
conn.close()